@keyframes entering {
    0% {
        max-width: 1%;
        opacity: 0;
    }
    30% {
        max-width: 60%;
    }
    100% {
        
        opacity: 1;
    }
}

.home {
    max-width: 60%;
    animation: entering 3s ease-in-out;
    border-radius: 0;
    box-shadow: none;
}