footer {
    background-color: black;
    display: block;
    height: 70px;
    margin: auto;
    text-align: center;
    padding: 22px;
    bottom: 0;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

footer > a {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.2s;
}

footer > a:hover {
    font-size: 1.7em;
}