@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'Caveat', cursive;
}

section {
  padding: 10px 60px;
  margin: 20px 0;
}

section > h1 {
  background-image: linear-gradient(to right, #daa520, #f3b61c);
  font-family: 'Caveat', cursive;
  font-size: 2em;
  text-align: center;
  padding: 8px;
  margin-bottom: 10px;
}

section > h2 {
  font-family: 'Oswald', sans-serif;
  color: #daa520;
  text-align: center;
  margin-bottom: 10px;
}

section > p {
  font-weight: bold;
  text-indent: 30px;
  line-height: 25px;
  text-align: justify;
  margin-bottom: 10px;
}

section > img {
  max-width: 500px;
  display: block;
  margin: auto;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.500);
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  section {
    padding: 10px 30px;
  }
}